body, * {
	font-family: 'Roboto Mono', monospace;
}

body {
	background: linear-gradient(orange, darkorange);
}

.caixa-header {
	position: relative;
	margin: 0 auto;
	padding: 30px;
	width: 990px;
	min-height: 110px;
	background-color: orange;
	border-radius: 20px;
}

.caixa-header h1 {
	font-size: 2.2em;
	position: absolute;
	top: 30px;
	left: 270px;
}

.caixa-header h2 {
	font-size: 1.8em;
	position: absolute;
	top: 80px;
	left: 250px;
}

main {
	padding: 20px;
	box-sizing: border-box;
}

.caixa-notas {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 650px;
	padding: 30px;
}

.corda-b {
	margin: 0 0 40px 120px;
}

.corda-e {
	margin: 0 0 40px 120px;
}

.nota {
	width: 50px;
	height: 35px;
	text-align: center;
	background-color: lightyellow;
	font-weight: bold;
	border-radius: 6px;
}

.nota:active, .ativa {
	background-color: yellow;
}

.nota:focus, .nota:focus {
	box-shadow: 4px 3px 2px red;
}

.nota-solta {
	width: 100px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	background-color: orange;
	border-radius: 10px;
}

.nota-solta:active {
	background-color: darkorange;
}

footer {
	background-color: darkorange;
}

.caixa-footer {
	width: 990px;
	margin: 0 auto;
}

.caixa-footer h3 {
	font-size: 1.7em;
	line-height: 1.5em;
}

.caixa-footer p {
	font-size: 1.4em;
	line-height: 1.2em;
}